name: FCG Libraries Consumer - CI/CD

on:
  push:
    branches: [ main, develop ]
    paths:
      - 'FCG-Libraries.Consumer/**'
      - 'FCG-Libraries.Application/**'
      - 'FCG-Libraries.Domain/**'
      - 'FCG-Libraries.Infrastructure/**'
      - '.github/workflows/libraries-consumer-ci.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./FCG-Libraries.Consumer/Dockerfile
        push: true
        tags: |
          alexandresorza/fcg-libraries-consumer:latest
          alexandresorza/fcg-libraries-consumer:${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
